<div class="event-card">
    <p><%= @event.name %></p>
    <p><%= @event.venue %></p>
    <p><%= @event.date %></p>
</div>

<h1> Attendees </h1>
<hr>

<% @event.attendees.each do |attendee| %>
    <p> <%= attendee.username %> </p>
<% end%>